<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
    <title>Document</title>
</head>

<body>
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side  -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/banner1.png" class="img-fluid" alt="">
                        </figure>
                    </div>
                    <!-- right side  -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>welcome to weather app</p>
                        <h1>I Am a <span class="text_color">Full Stack</span> Developer and a Freelancer</h1>
                        <a href="/weather"><button>About Us</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- footer code  -->
{{>footer}}
</body>

</html>